
<div class="table-wrapper">


<table class="listing">
<tr>
  <th>対象者</th>
  <% @nittei_cyosei.each do |n| %>
  <th><%= n.nengetsuhi %></th>
  <% end %>
</tr>

<%= @nittei_cyosei.count%>
<tr>
<% @personal_schedules.each do |f| %>
<!-- 対象者が切り替わった段階で改行  -->    
  <% if @temp!=f.shimei then -%>
  </tr>
  <tr><td><%=f.shimei%></td><td><%= f.id %></td>
  <% else -%><td><%= f.id %></td></tr><tr>
  <%end%>
  <% @temp= f.shimei%>
  
<% end %>
</tr>
 </table>
</div>